# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Hello die final/v15/ipch/AutoPCH/8ea560c073ed6186/DIE.ipch
.vs/Hello die final/v15/ipch/AutoPCH/7473f5bea1254754/CONSOLE INTERFACE.ipch
.vs/Hello die final/v15/Browse.VC.opendb
.vs/Hello die final/v15/Browse.VC.db
